body {
    overflow: hidden;
    > .examples {
        display: none;
    }
    > .container {
        width: 100%;
        height: 100%;
        .filters {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 7rem);
            width: 100%;
            position: relative;
        }
    }
    > .resultHTML {
        font-family: 'Courier New', Courier, monospace;
        padding: 0.5rem;
        background: $color_dark;
        color: $color_white;
        border-radius: 0.5rem;
        width: 30rem;
        white-space: pre-wrap;
    }
}