<div class="popup">
    <div class="header">
        <h2>Help</h2>
        <i class="material-symbols-outlined">close</i>
    </div>
    <div class="content">
        <h2>Quick start</h2>
        <p>
            Start by dragging the <strong>Source Graphic</strong> or <strong>Source Alpha</strong> output to add your first filter, then repeat !<br>
            Note that your filter wont be completed until you link an output to the <strong>Result</strong> block.
        </p>
        <p>
            You can click on any input to unlink it.
        </p>
        <h2>Shortcuts</h2>
        <ul>
            <li>Zoom : Mouse wheel</li>
            <li>Move : Hold Space then use your mouse</li>
            <li>Backspace or Delete : Remove selected filters</li>
            <li>Right Click : Open the add filter menu</li>
        </ul>
    </div>
</div>